<section class= "p-10 overflow-hidden">
    <div class="text-center mycontainer border-2 rounded-2xl">
        <h1 data-aos="fade-up"data-aos-duration="1000"data-aos-delay="100" class=" fn text-6xl py-3">Let’s Work <br>Together</h1>
        <p data-aos="fade-up"data-aos-duration="1000"data-aos-delay="200" class="inline-block  md:p-5 p-2 mb-3 text-white bg-gray-400  box-border border border-transparent focus:ring-4 focus:ring-brand-medium shadow-xs font-bold leading-5 rounded-4xl text-[11px] md:text-sm focus:outline-none hover:bg-white hover:text-black duration-300 cursor-pointer"><i class="fa-solid fa-envelope"></i>Abdelrahman.elgabryy@gmail.com</p>
        <hr>    
        <div class="my-3 md:lg:block flex flex-col gap-2.5">
            <app-social data-aos="fade-up"data-aos-duration="1000"data-aos-delay="300" [link]="'https://www.linkedin.com/in/abdelrahman-elgabry/'" [logo]="'fa-brands fa-linkedin fa-2x'" [name]="'LinkedIn'"></app-social>
            <app-social data-aos="fade-up"data-aos-duration="1000"data-aos-delay="400" [link]="'https://github.com/AElgabry'" [logo]="'fa-brands fa-github fa-2x'" [name]="'GitHub'"></app-social>
            <app-social data-aos="fade-up"data-aos-duration="1000"data-aos-delay="500" [link]="'https://www.instagram.com/abdelrahmanll0/'" [logo]="'fa-brands fa-instagram fa-2x'" [name]="'Instagram'"></app-social>
        </div>
        <hr>
        <div class="my-5">
            <p  class="text-white"><i class="fa-solid fa-phone text-white"></i> (+20) 1550118204</p>
            <p  class="text-white"><i class="fa-solid fa-location-pin text-white"></i> Alexandria, Egypt</p>
        </div>
    </div>
</section>