<section class="about">
    <div class="mycontainer">
        <p data-aos="fade-up"data-aos-duration="1000" class="fn text-center text-6xl py-5">I'm Abdelrahman Osama</p>
        <p data-aos="zoom-in-up"data-aos-duration="1000" data-aos-delay="300" class="test text-gray-400  md:text-justify text-center mx-auto text-xl w-3/4">As a Cybersecurity student at Alexandria University's Faculty of Computer and Data Science, my primary ambition is to specialize in web security as a Red Team member. I firmly believe that building robust, secure websites requires a deep understanding of web development. <br><br> To achieve this, I am currently pursuing a comprehensive Full Stack Development course. My goal is to seamlessly integrate my cybersecurity knowledge with my web development skills, enabling me to create and assess web applications with a focus on minimizing vulnerability risks. I am driven to contribute to the development of secure and proficient digital environments</p>
    </div>
    <app-skills></app-skills>
</section>