<app-navbar></app-navbar>
@if (cardId=="1") 
{
    <app-exp-page  
    [comp]="'Vijua'" 
    [compDesc]="'Vijua is a leading international software company, renowned for its Kotobee platform. This powerful system provides end-to-end solutions for creating and securely distributing interactive e-books and learning content. Its global standing is confirmed by serving major clients like Harvard University and large corporations such as Toyota.Recognized as a leader in the field, Vijua empowers organizations—from educators to corporate trainers—to quickly and cost-effectively produce customized, multi-platform digital content. The companys focus on secure, high-quality, and interactive solutions reinforces its role as a pivotal innovator in the global market for knowledge sharing and e-learning.'"
    [empType]="'Full Time'"
    [period]="'June 2025 - Current'"
    [location]="'Remote'"
    [roleDesc]="'As a Technical Support Engineer, my role was centered on ensuring a seamless and functional experience for every customer. I expertly managed the full cycle of technical issues, from the initial support ticket through to resolution, acting as the primary point of contact and customer advocate. A key part of my function was serving as the critical link between user feedback and the development team, meticulously translating customer-reported software bugs into actionable technical reports to drive product stability and improvement. Furthermore, I consistently delivered real-time solutions through live chat, significantly enhancing immediate user satisfaction and minimizing disruption. My work ensured users felt heard while contributing directly to product quality.'" 
    [title]="'Technical Support Engineer'"
    [CR]="'My Role'"
    >
    <div class="mb-4">
        <h3 class="text-white">Technical and Troubleshooting Skills:</h3>
        <ul class="text-gray-300 text-sm">
            <li>Advanced Root Cause Analysis (RCA): Expertise in diagnosing, isolating, and solving Tier 1 and Tier 2 software defects.</li>
            <li>Systematic Bug Reporting: Skillfully translating complex user issues into structured, actionable reports for the Development Team.</li>
            <li>Ticketing System Management: High proficiency in CRM platforms (e.g., Zendesk, Jira) for managing high-volume support queues and tracking issue lifecycles.</li>
        </ul>
    </div>
    <div class="mb-4">
        <h3 class="text-white">Communication and Customer Advocacy:</h3>
        <ul class="text-gray-300 text-sm">
            <li>Real-Time Problem Solving: Delivering rapid, effective technical support and guidance via live chat.</li>
            <li>Cross-Functional Liaison: Serving as the critical communication link between end-users and the Engineering Department.</li>
            <li>Conflict Resolution & De-escalation: Maintaining professionalism and high customer satisfaction (CSAT) during urgent or challenging interactions.</li>
            <li>Technical Translation: Explaining complex technical workarounds and resolutions clearly to non-technical users.</li>
        </ul>
    </div>
    <div class="pb-5">
        <h3 class="text-white">Workflow and Organizational Skills:</h3>
        <ul class="text-gray-300 text-sm">
            <li>SLA Adherence: Proven ability to prioritize tasks and manage time to consistently meet service level agreements (SLAs) for ticket response and resolution.</li>
            <li>Process Documentation: Contributing to internal knowledge bases by writing detailed articles, improving team efficiency and supporting self-service.</li>
        </ul>
    </div>
    </app-exp-page>
}
@else if (cardId=='2') 
{
    
    <app-exp-page
    [empType]="'Part Time'"
    [comp]="'ICT'"
    [compDesc]="'The IGCSE Information and Communication Technology (ICT) subject provides a balanced study of both the practical skills of using computer applications and the theoretical knowledge of how ICT systems work and their impact on society. Its designed to equip students with essential digital literacy and problem-solving skills for the modern world.'"
    [period]="'Jan 2024 - Mar 2024'"
    [location]="'Remote'"
    [roleDesc]="'As a Teaching Assistant for the IGCSE ICT program, I played a critical role in the assessment and support process. My primary responsibility was to meticulously review and grade student homework, ensuring all submissions accurately reflected the practical and theoretical requirements of the IGCSE syllabus. I focused on providing personalized, high-quality feedback. This role required sharp attention to detail and subject matter expertise, directly contributing to the effective evaluation of student mastery and supporting the Lead Teacher’s instructional strategy.'" 
    [title]="'Teacher Assistant'"
    [CR]="'My Role'"
    >
    <div class="pb-32">
        <h3 class="text-white">Academic Expertise & Assessment</h3>
<ul class="text-gray-300 text-sm mb-4">
    <li>Deep knowledge of the IGCSE ICT syllabus.</li>
    <li>Systematic grading and adherence to academic standards for assessment and evaluation.</li>
    <li>Meticulous review of submissions to ensure quality control and attention to detail.</li>
</ul>

<h3 class="text-white">Feedback & Coaching</h3>
<ul class="text-gray-300 text-sm mb-4">
    <li>Providing constructive, actionable critiques to students.</li>
</ul>

<h3 class="text-white">Time Management & Adherence</h3>
<ul class="text-gray-300 text-sm pb-4">
    <li>Proven ability to prioritize tasks and manage time effectively.</li>
    <li>Consistently meet strict deadlines 
    <li>Academic assessment/grading cycles.</li>
</ul>
    </div>
    </app-exp-page>
}
@else if (cardId=="3") 
{
    <div id="coming" class="s">
        <div class="absolute top-0 start-0 end-0 bottom-0 trans flex items-center justify-center">
            <h1 class="text-white tracking-[30px] text-2xl font-bold p-14 text-center">COMING SOON</h1>
        </div>
    </div>
}
@else if (cardId=='5') 
{
    
    <app-exp-page
    [empType]="'Internship'"
    [period]="'Jul 2024 - Dec 2024'"
    [compDesc]="'IT Gate Is an Egyptian IT learning charity organization established in 2008 in Cairo-Egypt. They are specialize in the IT learning solutions and they are a leading credited training center for most industrial companies like Cisco, Microsoft, Juniper, Oracle and Sun.'"
    [location]="'Remote'"
    [comp]="'IT Gate Academy'"
    [roleDesc]="'This extensive course provided comprehensive training across critical IT infrastructure domains. Content focused on Advanced Networking (CCNA) principles, Enterprise Server Administration (MCSA), and Next-Generation Security Management. The curriculum specifically included hands-on expertise with industry-leading platforms, notably Sophos Firewall and the Fortinet Network Security Expert (NSE 4) certification path, ensuring high proficiency in deploying and managing robust enterprise-grade network security solutions.'" 
    [title]="'IT Infrastructure Specialist'"
    [CR]="'Course Content'"
    >
    <div class="pb-5">
        <ul class="text-gray-300 text-sm">
            <li><span class="font-bold">Enterprise Networking Fundamentals:</span> Expertise in configuring, verifying, and troubleshooting essential networking protocols, IP routing, and switching technologies based on Cisco Certified Network Associate (CCNA) standards.</li>
            <li><span class="font-bold">Windows Server Administration:</span> Proficiency in administering and configuring enterprise-level systems, including Active Directory, identity management, and server roles, aligning with Microsoft Certified Solutions Associate (MCSA) competencies.</li>
            <li><span class="font-bold">Next-Generation Firewall (NGFW) Management:</span> Advanced practical skills in deploying, configuring, and maintaining leading security platforms, specifically Sophos Firewall and Fortinet NSE 4.</li>
            <li><span class="font-bold">Security Policy Implementation:</span> Expert ability to implement robust security policies, configure VPNs, manage intrusion prevention systems, and perform advanced threat mitigation within an enterprise security architecture.</li>
            <li><span class="font-bold">Infrastructure Troubleshooting:</span> Skilled in diagnosing complex network and server issues, ensuring high availability and adherence to security best practices across diverse IT environments.</li>
        </ul>
    </div>
    <hr class="my-3">
    <p class="fn text-6xl mb-3">Certifications</p>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
            <img class="h-auto max-w-full rounded-base" src="/Certs/IT Infrastructure (CCNA - MCSA - NSE4 - SOPHOS)_page-0001.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-base" src="/Certs/CCNA Intro to Networks_page-0001.jpg" alt="">
        </div>
        
        <div>
            <img class="h-auto max-w-full rounded-base" src="/Certs/AbdelramanElGabry-Introduction to -certificate_page-0001.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-base" src="/Certs/AbdelramanElGabry-Switching Routin-certificate_page-0001.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-base" src="/Certs/CCNA Intro to Networks_page-0001.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-base" src="/Certs/CCNA Network Security and Automation_page-0001.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-base" src="/Certs/CCNA Switching , Routing and Network Essentials_page-0001.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-base" src="/Certs/AbdelramanElGabry-Enterprise Netwo-certificate_page-0001.jpg" alt="">
        </div>
    </div>

    </app-exp-page>
}
@else if (cardId=='4') 
{
    
    <app-exp-page
    [empType]="'Internship'"
    [period]="'Mar 2025 - Nov 2025'"
    [compDesc]="'Route Academy is a future-focused tech education provider and talent accelerator committed to equipping individuals with the practical skills, mindset, and real-world experience needed to thrive in the ever-evolving digital economy. We specialize in industry-aligned bootcamps, upskilling programs, and career support to launch successful tech careers and build high-impact software professionals.'"
    [location]="'Remote'"
    [comp]="'Route Academy'"
    [roleDesc]="'This comprehensive Front-End Development course provided mastery over the core technology stack, beginning with HTML5 for semantic structure and CSS3, focusing heavily on modern layout techniques like Flexbox and CSS Grid for fully responsive design. A significant portion of the curriculum covered advanced JavaScript (ES6+), including DOM manipulation, asynchronous programming (Fetch/Promises), and working with JSON APIs. The course then transitioned into professional workflow, offering hands-on training in Git and GitHub for version control, using npm for dependency management, and an in-depth study of the Angular framework. This included core concepts like TypeScript, component architecture, services, routing, and reactive programming, culminating in the development of complex, industry-standard portfolio projects.'" 
    [title]="'Front-End Developer'"
    [CR]="'Course Content'"
    >
    <div class="pb-5">
        <ul class="text-gray-300 text-sm">
            <li><span class="font-bold">Angular (Enterprise Framework):</span> Deep expertise in component-based architecture, modules, services, dependency injection, and advanced routing (Angular Router).</li>
            <li><span class="font-bold">TypeScript:</span> Proficient use of TypeScript for building large-scale, type-safe, and maintainable applications.</li>
            <li><span class="font-bold">Core Web Technologies:</span> Mastery of HTML5 (semantic structure, accessibility) and CSS3 (layout, specificity, responsive design).</li>
            <li><span class="font-bold">Modern CSS Layout:</span> Expert application of Flexbox and CSS Grid for creating complex, adaptive, and mobile-responsive interfaces.</li>
            <li><span class="font-bold">Asynchronous JavaScript (ES6+):</span> Skilled in DOM manipulation, handling asynchronous operations using Promises, `async/await`.</li>
            <li><span class="font-bold">State Management:</span> Understanding of component state and data flow within the Angular ecosystem.</li>
        </ul>
    </div>
    </app-exp-page>
}
