ul
{
    list-style: disc;
    list-style-position: inside ;
    padding-left: 20px;
}
.s
{
    background-image: url(../../../../public/Images/Untitled\ design\ \(1\).png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    transition: ease-in-out,3s;
}
.trans
{
    background-color:rgba(0, 0, 0, 0.6) ;
}