<section class= "overflow-hidden py-2">
  <div class="mySwiper py-5">
    <div class="swiper-wrapper">
      <div class="swiper-slide flex flex-col justify-center"><img src="Images/js.png" alt="JavaScript" class="h-8"><p class="text-white -ms-5">JavaScript</p></div>
      <div class="swiper-slide "><img src="Images/angularjs.png" alt="Angular" class="h-8"><p class="text-white -ms-2.5">Angular</p></div>
      <div class="swiper-slide "><img src="Images/typescript (2).png" alt="TypeScript" class="h-8"><p class="text-white -ms-4.5">TypeScript</p></div>
      <div class="swiper-slide "><img src="Images/tailwindcss-mark.d52e9897.svg" alt="Tailwind CSS" class="h-8"><p class="text-white -ms-2">Tailwind</p></div>
      <div class="swiper-slide "><i class="fa-brands fa-html5 fa-2x text-white"></i><p class="text-white">HTML</p></div>
      <div class="swiper-slide "><i class="fa-brands fa-css3-alt fa-2x text-white"></i><p class="text-white ms-1">CSS</p></div>
      <div class="swiper-slide "><i class="fa-brands fa-github fa-2x text-white"></i><p class="text-white -ms-1.5">GitHub</p></div>
      <div class="swiper-slide "><img src="Images/networking (1).png" alt="CCNA" class="h-8"><p class="text-white -ms-2">CCNA</p></div>
      <div class="swiper-slide "><i class="fa-brands fa-windows fa-2x text-white"></i><p class="text-white -ms-0.5">MCSA</p></div>
      <div class="swiper-slide "><img src="Images/firewall.png" alt="Firewall" class="h-8"><p class="text-white -ms-3.5">Firewall</p></div>
    </div>
  </div>
</section>