<div class="bg relative">

    <div id="default-carousel" class=" w-full" data-carousel="static">
    <!-- Carousel wrapper -->
        <div class="relative lg:h-[500px] md:h-[600px] h-[720px]  overflow-hidden rounded-base ">
         <!-- Item 1 -->
            <div class="mt-10 flex-col flex items-center duration-700 ease-in-out" data-carousel-item>
                <div data-aos="fade-up"data-aos-duration="1000" [routerLink]="['/details','1']" class="card  cursor-pointer flex lg:flex-row flex-col  items-center justify-between border-2 border-gray-950 bg-transparent p-5 w-[40%] rounded-3xl shadow-2xs my-3">
                    <div class="title flex flex-col">
                        <p class="font-bold text-lg lg:text-2xl text-white lg:text-start text-center">Technical Support Engineer</p>
                        <p class="text-gray-400 lg:text-start text-center lg:my-0 my-2">Vijua</p>
                    </div>
                    <div class="time">
                        <p class="text-gray-400 lg:text-start text-center">Jun 2025 - Current</p>
                    </div>
                </div>
            <div data-aos="fade-up"data-aos-duration="1000"data-aos-delay="200" [routerLink]="['/details','2']" class="card cursor-pointer lg:flex-row flex-col flex items-center justify-between border-2 border-gray-950 bg-transparent p-5 w-[40%] rounded-3xl shadow-2xs my-3">
                <div class="title flex flex-col">
                    <p class="font-bold text-lg lg:text-2xl text-white lg:text-start text-center">Teacher Assistant</p>
                    <p class="text-gray-400 lg:text-start text-center lg:my-0 my-2">ICT IGCSE Subject</p>
                </div>
                <div class="time">
                    <p class="text-gray-400 lg:text-start text-center">Jan 2024 - Mar 2024</p>
                </div>
            </div>
            </div>
        <!-- Item 2 -->
            <div  class="mt-10 flex-col flex items-center duration-700 ease-in-out" data-carousel-item>
                <div data-aos="fade-up"data-aos-duration="1000"data-aos-delay="100" [routerLink]="['/details','3']" class="card  cursor-pointer lg:flex-row flex-col flex items-center justify-between border-2 border-gray-950 bg-transparent p-5 w-[40%] rounded-3xl shadow-2xs my-3">
                    <div class="title flex flex-col">
                        <p class="font-bold text-lg lg:text-2xl text-white lg:text-start text-center">Back-End Development</p>
                        <p class="text-gray-400 lg:text-start text-center lg:my-0 my-2">Route Academy</p>
                    </div>
                    <div class="time">
                        <p class="text-gray-400 lg:text-start text-center">Dec 2025 - Current</p>
                    </div>
                 </div>
                <div data-aos="fade-up"data-aos-duration="1000"data-aos-delay="200" [routerLink]="['/details','4']" class="card  cursor-pointer lg:flex-row flex-col flex items-center justify-between border-2 border-gray-950 bg-transparent p-5 w-[40%] rounded-3xl shadow-2xs my-3">
                    <div class="title flex flex-col">
                        <p class="font-bold text-lg lg:text-2xl text-white lg:text-start text-center">Front-End Development</p>
                        <p class="text-gray-400 lg:text-start text-center lg:my-0 my-2">Route Academy</p>
                    </div>
                    <div class="time">
                        <p class="text-gray-400 lg:text-start text-center">Mar 2025 - Nov 2025 </p>
                    </div>
                </div>
            <div data-aos="fade-up"data-aos-duration="1000"data-aos-delay="300" [routerLink]="['/details','5']" class="card  cursor-pointer lg:flex-row flex-col flex items-center justify-between border-2 border-gray-950 bg-transparent p-5 w-[40%] rounded-3xl shadow-2xs my-3">
                    <div class="title flex flex-col">
                        <p class="font-bold text-lg lg:text-2xl text-white lg:text-start text-center px-5">IT Infrastructure</p>
                        <p class="text-gray-400 lg:text-start text-center lg:my-0 my-2">It Gate Academy</p>
                    </div>
                    <div class="time">
                        <p class="text-gray-400 lg:text-start text-center">Jul 2024 Dec-2024</p>
                    </div>
                </div>
            </div>
    </div>
    <!-- Slider indicators -->
    <div class="absolute z-30 flex top-0 start-1/2 -translate-x-1/2 pt-4">
        <button type="button" class=" me-5 text-xl text-gray-500 hover:text-white" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0" >Experience </button>
        <button type="button" class="text-xl text-gray-500 hover:text-white" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"  >Courses</button>
    </div>
    <!-- Slider controls -->
    
</div>
</div>